{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="/static/css/zakaz.css" media="screen">
<link rel="stylesheet" href="/static/css/page.css" media="screen">
{% endblock %}


{% block content %}
        <section class="order-submit-section">
            <form action="{% url 'orders:create' %} " method="post">
                {% csrf_token %}
                <div class="order-submit-section_container">
                    <div class="order-submit">
                        <div class="order-info-block">
                            <div class="reciever-info-container">
                                <div class="reciever_container-block_">
                                    <div class="reciever_container">
                                        <h3 class="reciever_heading">Получатель</h3>
                                        <div class="reciever-info">
                                            <div class="reciever_name_number_addres">
                                                <span>{{user.first_name}} {{user.last_name}}, {{user.phone_number}}</span>
                                                    <label class="reciever_label" for="address">Адрес:
                                                        <input class="reciever_input" type="text" id="address" name='address' value={{user.address}}>
                                                    </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="payment_method_block">
                                <div class="payment_method_container">
                                    <div class="HazePaymentMethod_title_container">
                                        <div class="HazePaymentMethod_title">
                                            Способ оплаты
                                        </div>
                                        <div class="HazePaymentMethod_ManageBankBadges_container">
                                            <div class="HazePaymentMethod_ManageBankBadges__item">
                                                <div class="HazePaymentMethod_ManageBankBadges__row_">
                                                    <div class="HazePaymentMethod_ManageBankBadges__icons_">
                                                        <img class="HazePaymentMethod_ManageBankBadges__icon_" src="https://st.aliexpress.ru/resources/payment/payment_pay_new_card.png">

                                                    </div>
                                                    <label class="haze-radio_Radio__label_">
                                                        <div class="haze-radio_Radio__default_">
                                                        </div>
                                                        <div class="haze-radio_Radio__radioContainer_">
                                                            <input type="radio" class="haze-radio_">

                                                        </div>

                                                    </label>

                                                </div>


                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                            <div class="order_Container__size_full_">
                                <div class="CheckoutItemList__container_">
                                    <h2 class="CheckoutItemList_S_title">Состав заказа</h2>
                                    <div class="CheckoutItemList_StoreList__storeList_">
                                        {% for basket in baskets %}
                                        {% if basket.product.quantity > 0 %}
                                        <div data-product="true">
                                            <div class="CheckoutItemList__productContainer_">

                                                    <div class="CheckoutItemList__productImage_">
                                                        <a href="#" target="_blank" rel="noreferrer">
                                                            <div class="CheckoutItemList_Product__backgroundLayer_">
                                                                <img class="CheckoutItemList_Product__pictures_" src ={{basket.product.image}}>

                                                            </div>
                                                        </a>

                                                    </div>
                                                    <div class="CheckoutItemList_Product_description">
                                                        <div class="CheckoutItemList_Product__productTitle_">
                                                            <p class="CheckoutItemList_Product__productTitle_category">Название :
                                                                <span>
                                                                    {{basket.product.name}}
                                                                </span>
                                                            </p>

                                                        </div>


                                                    </div>
                                                    <div class="CheckoutItemList_ProductPrice_">
                                                        <div class="CheckoutItemList_ProductPrice__costMain_">
                                                            <div class="CheckoutItemList_ProductPrice__mainCostPrice">
                                                                {{basket.product.price}}
                                                                <span>
                                                                    ₽
                                                                </span>
                                                            </div>

                                                        </div>
                                                        <div class="CheckoutItemList_ProductCount_container_">
                                                            <div class="CheckoutItemList_ProductCount_">
                                                                {{basket.quantity}}
                                                                <span>
                                                                    шт
                                                                </span>
                                                            </div>

                                                        </div>

                                                    </div>

                                            </div>

                                        </div>
                                        {% endif %}
                                        {% endfor %}

                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="order-chekout-block">
                            <div class="chekout-summary-container">
                                <div class="chekout-summary">
                                    <h3 class="chekout-summary_word">Итого</h3>
                                    <h2 class="chekout-summary_word">{{baskets.0.total_sum}}
                                        <span class="chekout-summary_word">
                                            ₽
                                        </span>
                                    </h2>
                                </div>
                                <div class="chekout-summary">
                                    <h2 class="chekout-summary_count_and_price">{{baskets.0.total_quantity}} {{word}}</h2>
                                    <h2 class="chekout-summary_count_and_price">{{baskets.0.total_sum}}
                                        <span class="chekout-summary_count_and_price">
                                            ₽
                                        </span>
                                    </h2>
                                </div>
                                <div>
                                    <button type="submit" class="CheckoutSummary_SummaryButton">
                                        <div class="CheckoutSummary_SummaryButton__textContainer">
                                            <span>Оформить заказ</span>
                                            <span>{{baskets.0.total_sum}}
                                                <span>
                                                    ₽
                                                </span>
                                            </span>
                                        </div>
                                        <svg class="CheckoutSummary_SummaryButton_Arrow" viewBox="0 0 32 32">
                                            <path fill-rule="evenodd" d="M8.793 2.293a1 1 0 011.414 0l13 13a1 1 0 010 1.414l-13 13a1 1 0 01-1.414-1.414L21.086 16 8.793 3.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                        </svg>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>



{% endblock %}

