{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="/static/css/zakaz.css" media="screen">
<link rel="stylesheet" href="/static/css/page.css" media="screen">
{% endblock %}


{% block content %}
        <section class="order-submit-section">
            <div class="order-submit-section_container">
                <div class="order-submit">
                    <div class="order-info-block">
                        <div class="reciever-info-container">
                            <div>
                                <div class="reciever_container">
                                    <h3 class="reciever_heading">Получатель</h3>
                                    <div class="reciever-info">
                                        <div class="reciever_name_number_addres">
                                            <span>Косенко Валерия Владимировна, +7 989 625-06-14</span>
                                            <span>Проспект Октябрьской Революции, дом 31, квартира 34, Краснодар г</span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="payment_method_block">
                            <div class="payment_method_container">
                                <div class="HazePaymentMethod_title_container">
                                    <div class="HazePaymentMethod_title">
                                        Способ оплаты
                                    </div>
                                    <div class="HazePaymentMethod_ManageBankBadges_container">
                                        <div class="HazePaymentMethod_ManageBankBadges__item">
                                            <div class="HazePaymentMethod_ManageBankBadges__row_">
                                                <div class="HazePaymentMethod_ManageBankBadges__icons_">
                                                    <img class="HazePaymentMethod_ManageBankBadges__icon_" src="https://st.aliexpress.ru/resources/payment/payment_pay_new_card.png">

                                                </div>
                                                <label class="haze-radio_Radio__label_">
                                                    <div class="haze-radio_Radio__default_">
                                                    </div>
                                                    <div class="haze-radio_Radio__radioContainer_">
                                                        <input type="radio" class="haze-radio_">

                                                    </div>

                                                </label>

                                            </div>


                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="order_Container__size_full_">
                            <div class="CheckoutItemList__container_">
                                <h2 class="CheckoutItemList_S_title">Состав заказа</h2>
                                <div class="CheckoutItemList_StoreList__storeList_">
                                    <div data-product="true">
                                        <div class="CheckoutItemList__productContainer_">
                                            <div class="CheckoutItemList__productImage_">
                                                <a href="#" target="_blank" rel="noreferrer">
                                                    <div class="CheckoutItemList_Product__backgroundLayer_">
                                                        <img class="CheckoutItemList_Product__pictures_" src ="https://www.yolabooks.ru/storage/photo/resized/xy_1732x1732/f/92k9yf9fjs0iom0_c3f69452.jpg">

                                                    </div>
                                                </a>

                                            </div>
                                            <div class="CheckoutItemList_Product_description">
                                                <div class="CheckoutItemList_Product__productTitle_">
                                                    <p class="CheckoutItemList_Product__productTitle_category">Категория :
                                                        <span>
                                                            "Роман"
                                                        </span>
                                                    </p>

                                                </div>


                                            </div>
                                            <div class="CheckoutItemList_ProductPrice_">
                                                <div class="CheckoutItemList_ProductPrice__costMain_">
                                                    <div class="CheckoutItemList_ProductPrice__mainCostPrice">
                                                        550
                                                        <span>
                                                            ₽
                                                        </span>
                                                    </div>

                                                </div>
                                                <div class="CheckoutItemList_ProductCount_container_">
                                                    <div class="CheckoutItemList_ProductCount_">
                                                        2
                                                        <span>
                                                            шт
                                                        </span>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="order-chekout-block">
                        <div class="chekout-summary-container">
                            <div class="chekout-summary">
                                <h3 class="chekout-summary_word">Итого</h3>
                                <h2 class="chekout-summary_word">550
                                    <span class="chekout-summary_word">
                                        ₽
                                    </span>
                                </h2>
                            </div>
                            <div class="chekout-summary">
                                <h2 class="chekout-summary_count_and_price">1 товар</h2>
                                <h2 class="chekout-summary_count_and_price">550
                                    <span class="chekout-summary_count_and_price">
                                        ₽
                                    </span>
                                </h2>
                            </div>
                            <div>
                                <button class="CheckoutSummary_SummaryButton">
                                    <div class="CheckoutSummary_SummaryButton__textContainer">
                                        <span>Оформить заказ</span>
                                        <span>550
                                            <span>
                                                ₽
                                            </span>
                                        </span>
                                    </div>
                                    <svg class="CheckoutSummary_SummaryButton_Arrow" viewBox="0 0 32 32">
                                        <path fill-rule="evenodd" d="M8.793 2.293a1 1 0 011.414 0l13 13a1 1 0 010 1.414l-13 13a1 1 0 01-1.414-1.414L21.086 16 8.793 3.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>



{% endblock %}

