.profile {
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    gap:30px;
    padding-top: 20px;
}

.u-personal_data {
    margin:0 auto;
}

input {
    text-align:center;
    outline:none;
    border:1px solid rgba(0, 0, 0, 0.05);
}

.personal_data {
    box-sizing: border-box;
    display: flex;
    flex-direction:row;
    gap:20px;
    margin:0 auto;
    margin-top: 25px;
}

.personal_data_heading {
    margin:0 auto;
    font-family: 'Playfair Display', serif;
    color: #4d3334;
}

.personal_data_container {

}

.personal_data_personality {

}

.personal_data_personality_card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid #d4d4d4;
    gap: 12px;
    align-items: center;
    max-width: 400px;
    width: 100%;
    min-height: 400px;
    height: 100%;
    padding-top: 20px;
}

.personal_data_personality_img {
    border-radius:50%;
    background-color: transparent;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    cursor:pointer;
}

.personal_data_personality_user-name {
    margin:0 auto;
    font-family: 'Playfair Display', serif;
    color: #4d3334;
    font-size: 30px;
    font-weight: 300;
    margin: 0 50px;
    text-align: center;
}

.personal_data_personality_user-name:hover {
    text-decoration:none;
}

.personal_data_contact-information {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 1px solid #d4d4d4;
    gap: 10px;
    align-items: center;
    max-width:600px;
    width: 100%;
    min-height: 400px;
    height: 100%;
    padding-top: 20px;
}

.address__list {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    text-decoration:none;
    text-transform:none;
    color: #4d3334;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

.contact-inf-container {
    display: block;
    margin: 0 20px;
    box-sizing: border-box;
}

.address__list-item {
    list-style-type: none;
    word-spacing: 5px;
}

.address__list-item-text {
    font-weight: bold;
}

span {
    font-weight: 400;
}

.change_data_button {
    position: absolute;
    bottom: 0;
}

.u-change_data_button {
    font-weight: 400;
}

.busket_and_liked_product {
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    gap:10px;
    margin:0 auto;
    max-width: 950px;
    width: 100%;
}

.busket_product {

}

.busket_product_heading {
    margin:0 auto;
    font-family: 'Playfair Display', serif;
    color: #4d3334;
}

.busket_product_list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  margin-top: 25px;
}

.busket_product_list-item {
  padding-bottom: 30px;
  width: 100%;
}

.busket_product_list-link {
  text-decoration: none;
  display: block;
  margin: 2px;
  width: 100%;
}

.busket_product-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-content: center;
  flex-wrap: nowrap;
  padding: 2px;
}

.busket_product-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 200px;
  width: 100%;
  overflow: hidden;
}

.busket_product-card-title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.busket_product-card-description {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  font-family: "Fira Sans Condensed", sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.shop_table {
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    color: #4d3334;
}

.product-thumbnail {
    max-width: 100px;
    padding: 10px;
}

.product-thumbnail-img-container {
    width:100%;
    height:100%;
    text-align:center;
}

.product-thumbnail-img {
    max-width: 100px;
    object-fit: cover;
    object-position: center;
}

.busket_product-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  inset: 0;
}

.liked_product {
    display: block;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.liked_product_heading {
    margin:0 auto;
    font-family: 'Playfair Display', serif;
    color: #4d3334;
}

.liked_list {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 400px;
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  list-style: none;
  gap:50px;
  padding: 0;
}

.liked_list_item {
    width: 100%;
    max-width: max-content;
    min-height: 400px;
    height: 100%;

}

.liked_product_card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: max-content;
  height: 100%;
  align-content: center;
  flex-wrap: nowrap;
  padding: 2px;
  cursor: auto;
}

.liked_product_img-container {
    max-width: 180px;
    width: 100%;
    height: 100%;
}

.liked_product_description_container {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    align-items: flex-start;
}

.liked_product_description {
    font-family: 'Playfair Display', serif;
    color: #4d3334;
    font-size: 30px;
    font-weight: 300
}

.liked_product_img {
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    cursor:pointer;
}

.woocommerce-cart-form {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
}

.woocommerce-cart-form__cart-item {
    padding: 10px;
}

.remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: red;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    cursor:pointer;
}

.product-remove {
    padding: 10px;
    max-width: 25px;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px;
    word-wrap: normal!important;
}

.product-name {
    padding: 10px;
    vertical-align: middle;
    text-transform: uppercase;
}

.product-name-decoration {
    color: #4d3334;
    text-transform: none;
}

.product-price {
    padding: 10px;
    vertical-align: middle;
    text-transform: uppercase;
}

.product-quantity {
    padding: 10px;
    vertical-align: middle;
    text-transform: uppercase;
}

.quantity {
    width: 100px;
    text-align: center;
}


.product-subtotal {
    padding: 10px;
    vertical-align: middle;
    text-transform: uppercase;
}

.order-total_decoration {
    font-family: Georgia, serif;
    font-size:35px;
}

.order-total_decoration:hover {
    text-decoration:none;
}

.table_responsive {
    padding: 10px;
    font-size: 17px;
    font-weight: 500;
    font-family: Georgia, serif;
}

.table_responsive_price {
    padding:10px;
    text-align:end;
}

.order-total {
    border-collapse: separate;
}

.button_liked_product {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0;
    min-width: 36px;
    min-height: 36px;
    border: none;
    border-radius: 100em;
    background-color: transparent;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color .1s ease-in-out;
}

.button_liked_product-container {
    width: 100%;
    height: 100%;
    margin-top: 25px;
}

.button_liked_product:hover {
    background-color: #f5f5f5;
}

.input-text {
    background: transparent ;
    color: #666 ;
    border: 1px solid rgba(0, 0, 0, 0.05) ;
    font-size: 14px;
    margin-right: 0;
    margin-left: auto;
    width: 4.3em !important;
    padding:16px;
    cursor:pointer;
}

.busket_product_list {
  /* плашка-бегунок и фон */
  scrollbar-color: rgb(252,236,225, 0.9) #662f32;
}
.busket_product_list::-webkit-scrollbar {
  width: 11px; /* в основном для вертикальных полос прокрутки */
  height: 11px; /* в основном для горизонтальных полос прокрутки */
  border-radius: 50px;
  box-shadow: inset 0 0 0 4px #ccc
}
.busket_product_list::-webkit-scrollbar-thumb { /* плашка-бегунок */
  background: rgb(252,236,225, 0.9);
  border-radius: 50px;
  position: relative;
}
.busket_product_list::-webkit-scrollbar-track { /* фон */
  background: #662f32;
}

.liked_list {
  /* плашка-бегунок и фон */
  scrollbar-color: rgb(252,236,225, 0.9) #662f32;
}
.liked_list::-webkit-scrollbar {
  width: 11px; /* в основном для вертикальных полос прокрутки */
  height: 11px; /* в основном для горизонтальных полос прокрутки */
  border-radius: 50px;
  box-shadow: inset 0 0 0 4px #ccc
}
.liked_list::-webkit-scrollbar-thumb { /* плашка-бегунок */
  background: rgb(252,236,225, 0.9);
  border-radius: 50px;
  position: relative;
}
.liked_list::-webkit-scrollbar-track { /* фон */
  background: #662f32;
}

svg path:hover {
    fill:#fff !important;
}

.remove:hover {
    background-color:#ff3333;
    border-radius: 50px;
    color:#fff;
}

.input-text {
    cursor:pointer;
}

.liked_product_book-name {
    cursor:pointer;
}