{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="/static/css/product_item.css" media="screen">
<link rel="stylesheet" href="/static/css/page.css" media="screen">
{% endblock %}

{% block content %}
<div class="products">
    <section class="u-align-center u-clearfix u-section-1" id="sec-981b">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-container-style u-expanded-width u-product u-shape-rectangle u-product-1"
                 data-products-datasource="site" data-product-id="6">
                <div class="u-container-layout u-container-layout-1 u-product-container">
                    <div class="u-image-container">
                        <img class="u-back-image  u-image-contain" src={{product.image.url}}>
                    </div>


                    <div class="u-product-description-container">
                        <h2 class="u-product-control u-text u-text-1">{{ product.name }}</h2>
                        <div class="u-product-control u-product-price u-product-price-1">
                            <div class="u-price-wrapper u-spacing-10">
                                <div class="u-hide-price u-old-price"
                                     style="text-decoration: line-through !important;"></div>
                                <div class="u-price-new u-price u-text-palette-2-base"
                                     style="font-size: 1.5rem; font-weight: 700;">{{ product.price }} ₽
                                </div>
                            </div>
                        </div>
                        <div class="u-product-control u-product-desc u-text u-text-2">{{ product.description}}</div>
                        <div class="buttons-container">
                            {% if not user.is_authenticated %}
                            <a name="{{product.id}}" href="{% url 'users:login'%}"
                               class="u-align-center-xl u-border-none u-btn u-btn-round u-button-style u-hover-palette-2-dark-2 u-palette-2-dark-1 u-radius-50 u-btn-2">
                                ДОБАВИТЬ В КОРЗИНУ</a>
                            {% else %}
                            {% if product.id in product_in_basket %}
                            <a name="{{product.id}}" value="{{user.is_authenticated}}" id="remove"
                               class="u-align-center-xl u-border-none u-btn u-btn-round u-button-style u-hover-palette-2-dark-2 u-palette-2-dark-1 u-radius-50 u-btn-2">
                                УДАЛИТЬ ИЗ КОРЗИНЫ</a>
                            {% else %}
                            <a name="{{product.id}}" value="{{user.is_authenticated}}" id="add"
                               class="u-align-center-xl u-border-none u-btn u-btn-round u-button-style u-hover-palette-2-dark-2 u-palette-2-dark-1 u-radius-50 u-btn-2">
                                ДОБАВИТЬ В КОРЗИНУ</a>
                            {% endif %}
                            {% endif %}

                            <button class="button_liked_product" type="button">
                                <svg width="25" height="20" viewBox="0 -1 22 20" fill="none">
                                    {% if not user.is_authenticated %}
                                    <path id="{{product.id}}" onclick="location.href='{% url 'users:login'%}'"
                                          stroke="#c70000"
                                          d="M16.749 0C13.875 0 12.676 2.75 11 2.75C9.324 2.75 8.12498 0 5.25098 0C2.52898 0 0 2.29099 0 5.38199C0 11.114 9.794 14.861 11 18C12.206 14.86 22 11.114 22 5.38199C22 2.29099 19.471 0 16.749 0Z"
                                          fill="#fff" data-spm-anchor-id="a2g2w.detail.0.i3.263872f6fDcHOp">
                                    </path>
                                    {% else %}
                                    {% if product.id in product_liked %}
                                    <path id="{{product.id}}" type="like" stroke="#c70000"
                                          d="M16.749 0C13.875 0 12.676 2.75 11 2.75C9.324 2.75 8.12498 0 5.25098 0C2.52898 0 0 2.29099 0 5.38199C0 11.114 9.794 14.861 11 18C12.206 14.86 22 11.114 22 5.38199C22 2.29099 19.471 0 16.749 0Z"
                                          fill="#c70000" data-spm-anchor-id="a2g2w.detail.0.i3.263872f6fDcHOp">
                                    </path>
                                    {% else %}
                                    <path id="{{product.id}}" type="like" stroke="#c70000"
                                          d="M16.749 0C13.875 0 12.676 2.75 11 2.75C9.324 2.75 8.12498 0 5.25098 0C2.52898 0 0 2.29099 0 5.38199C0 11.114 9.794 14.861 11 18C12.206 14.86 22 11.114 22 5.38199C22 2.29099 19.471 0 16.749 0Z"
                                          fill="#fff" data-spm-anchor-id="a2g2w.detail.0.i3.263872f6fDcHOp">
                                    </path>
                                    {% endif %}
                                    {% endif %}
                                </svg>
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
{% endblock %}
