{% extends 'users/base.html' %}
{% load static %}

{% block css %}
      <link rel="stylesheet" href="/static/css/login.css" media="screen">
      <link rel="stylesheet" href="/static/css/page.css" media="screen">
{% endblock %}

{% block content %}
      <section class="u-align-center u-clearfix u-section-1 u-section-login">
          <div class="form-container">
              <form class="form-users" action="{% url 'users:login' %}" method="post">
                  {% csrf_token %}
<!--                <form class="form-users">-->
                  <label class="visually-hidden">Имя пользователя</label>
                    {{ form.username }}
                  <label class="visually-hidden">Пароль</label>
                    {{ form.password }}
                  <label class="agree"><input type="checkbox" /> Запомнить меня</label>
                  <button class="login_button">Войти</button>
              </form>
          </div>
      </section>
{% endblock %}