{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="/static/css/profile.css" media="screen">
<link rel="stylesheet" href="/static/css/page.css" media="screen">
{% endblock %}


{% block content %}
<section class="profile">
    <div class="u-personal_data">
        <h2 class="personal_data_heading">Личные данные</h2>
        <div class="personal_data">
            <form class="personal_data" action="{% url 'users:profile' %} " method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="personal_data_container">
                    <div class="personal_data_personality">
                        <div class="personal_data_personality_card">
                            <img width="200" height="200"
                                 src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'vendor/img/users/default_avatar.jpg' %} {% endif %} "
                                 class="personal_data_personality_img">
                            <label class="custom-file-label" for="{{ form.image.id_for_label }}">
                                <p class="custom-file-label_text">Выберите изображение</p>

                            </label>
                            <h3 class="personal_data_personality_user-name">
                                {{ form.username }}
                            </h3>



                            {{ form.image }}
                        </div>

                    </div>
                </div>
                <div class="personal_data_contact-information">
                    <div class="u-personal_data_contact-information">
                        <address class="contact-inf-container">
                            <ul class="address__list">
                                <li class="address__list-item">
                                    <label for="{{ form.first_name.id_for_label }}" class="address__list-item-text">Имя:
                                        {{ form.first_name }}</label>
                                </li>
                                <li class="address__list-item">
                                    <label for="{{ form.last_name.id_for_label }}" class="address__list-item-text">Фамилия:
                                        {{ form.last_name }}</label>
                                </li>
                                <li class="address__list-item">
                                    <label for="{{ form.email.id_for_label }}" class="address__list-item-text">Email: {{ form.email }}</label>
                                </li>
                                <li class="address__list-item">
                                    <label for="{{ form.phone_number.id_for_label }}" class="address__list-item-text">Телефон:
                                        {{ form.phone_number }}</label>
                                </li>
                                <li class="address__list-item">
                                    <label for="{{ form.address.id_for_label }}" class="address__list-item-text">Адрес:
                                        {{ form.address }}</label>
                                </li>
                            </ul>

                        </address>
                    </div>

                    <div class="change_data_button">

                        <input class="u-change_data_button u-align-center-xl u-border-none u-btn u-btn-round u-button-style u-hover-palette-2-dark-2 u-palette-2-dark-1 u-btn-2"
                               type="submit" value="Сохранить">
                    </div>


                </div>
            </form>

        </div>
    </div>

    <div class="busket_and_liked_product">
        {% include 'baskets/basket.html' %}
        <div class="liked_product">
            <h2 class="liked_product_heading">Избранное</h2>
            <div class="busket_product_list-empty">
                <h3 class="summ_decoration_word-empty">Пусто &#9785</h3>
                <div class="button_order-container-empty">
                    <a href="/products/" type="submit"
                       class="u-align-center-xl u-border-none u-btn u-btn-round u-button-style u-hover-palette-2-dark-2 u-palette-2-dark-1 u-radius-50 u-btn-2">
                        Перейти в каталог

                    </a>
                </div>

            </div>
            <!--                            <div>-->
            <!--                                <ul class="liked_list">-->
            <!--                                    <li class="liked_list_item">-->
            <!--                                        <a href="#0" class="">-->
            <!--                                          <article class="liked_product_card">-->
            <!--                                            <div class = "liked_product_img-container">-->
            <!--                                                <img class = "liked_product_img" src="https://www.yolabooks.ru/storage/photo/resized/xy_1732x1732/f/92k9yf9fjs0iom0_c3f69452.jpg" alt=""  />-->

            <!--                                            </div>-->
            <!--                                            <div class="liked_product_description_container">-->
            <!--                                              <div class="liked_product_description">-->
            <!--                                                  <h3 class="">Книга1</h3>-->
            <!--                                                    <p class="">Роман</p>-->
            <!--                                              </div>-->

            <!--                                              <button class="button_liked_product" type="button">-->
            <!--                                                <svg width="25" height="20" viewBox="0 -1 22 20" fill="none">-->
            <!--                                                  <path d="M16.749 0C13.875 0 12.676 2.75 11 2.75C9.324 2.75 8.12498 0 5.25098 0C2.52898 0 0 2.29099 0 5.38199C0 11.114 9.794 14.861 11 18C12.206 14.86 22 11.114 22 5.38199C22 2.29099 19.471 0 16.749 0Z" fill="#c70000" stroke="#c70000" data-spm-anchor-id="a2g2w.detail.0.i3.263872f6fDcHOp">-->
            <!--                                                  </path>-->
            <!--                                                </svg>-->
            <!--                                              </button>-->
            <!--                                            </div>-->

            <!--                                          </article>-->
            <!--                                        </a>-->
            <!--                                    </li>-->

            <!--                                </ul>-->
            <!--                            </div>-->

        </div>
<!--        <div class="liked_product">-->
<!--            <h2 class="orders_container_title">Ваши заказы</h2>-->
<!--            <div class="busket_product_list-empty">-->
<!--                <h3 class="summ_decoration_word-empty">Пусто &#9785</h3>-->

<!--            </div>-->
<!--        </div>-->

        <div class="orders_container">
            <h2 class="orders_container_title">Ваши заказы</h2>
            <ul class="orders_list">
                <li class="orders_list_item">
                    <input type="checkbox" id="hd-1" class="hide"/>
                    <label for="hd-1" > Заказ №1</label>
                    <div>
                        <ul class="order_list">
                            <li class="order_list_item">
                                <a href="#0" class="">
                                  <article class="order_product_card">
                                    <div class = "order_product_img-container">
                                        <img class = "order_product_img" src="https://www.yolabooks.ru/storage/photo/resized/xy_1732x1732/f/92k9yf9fjs0iom0_c3f69452.jpg" alt=""  />
                                        <div class="order_product_description_container">
                                          <div class="order_product_description">
                                              <h3 class="order_product_description_text">Книга1</h3>

                                          </div>

                                        </div>
                                    </div>

                                    <div class="quantity_product">
                                        <span>
                                            <bdi>
                                                2
                                            </bdi>
                                            <span>
                                                шт
                                            </span>
                                        </span>


                                    </div>
                                    <div class="order_of_product">
                                        <span>
                                            <bdi>
                                                550
                                            </bdi>
                                            <span>
                                                ₽
                                            </span>
                                        </span>
                                    </div>


                                  </article>
                            </a>
                            </li>
                            <li class="order_list_item">
                                <a href="#0" class="">
                                  <article class="order_product_card">
                                    <div class = "order_product_img-container">
                                        <img class = "order_product_img" src="https://www.yolabooks.ru/storage/photo/resized/xy_1732x1732/f/92k9yf9fjs0iom0_c3f69452.jpg" alt=""  />
                                        <div class="order_product_description_container">
                                          <div class="order_product_description">
                                              <h3 class="order_product_description_text">Книга2</h3>

                                          </div>

                                        </div>
                                    </div>

                                    <div class="quantity_product">
                                        <span>
                                            <bdi>
                                                2
                                            </bdi>
                                            <span>
                                                шт
                                            </span>
                                        </span>


                                    </div>
                                    <div class="order_of_product">
                                        <span>
                                            <bdi>
                                                550
                                            </bdi>
                                            <span>
                                                ₽
                                            </span>
                                        </span>
                                    </div>


                                  </article>
                            </a>
                            </li>
                        </ul>
                        <div class="sum_of_order">
                            <p>Сумма заказа :</p>
                            <span>
                                <bdi>
                                    1100
                                </bdi>
                                <span>
                                    ₽
                                </span>
                            </span>
                        </div>

                    </div>
                </li>
                <li class="orders_list_item">
                    <input type="checkbox" id="hd-2" class="hide"/>
                    <label for="hd-2" > Заказ №2</label>
                    <div>
                        <ul class="order_list">
                            <li class="order_list_item">
                                <a href="#0" class="">
                                  <article class="order_product_card">
                                    <div class = "order_product_img-container">
                                        <img class = "order_product_img" src="https://www.yolabooks.ru/storage/photo/resized/xy_1732x1732/f/92k9yf9fjs0iom0_c3f69452.jpg" alt=""  />
                                        <div class="order_product_description_container">
                                          <div class="order_product_description">
                                              <h3 class="order_product_description_text">Книга1</h3>

                                          </div>

                                        </div>
                                    </div>

                                    <div class="quantity_product">
                                        <span>
                                            <bdi>
                                                2
                                            </bdi>
                                            <span>
                                                шт
                                            </span>
                                        </span>


                                    </div>
                                    <div class="order_of_product">
                                        <span>
                                            <bdi>
                                                550
                                            </bdi>
                                            <span>
                                                ₽
                                            </span>
                                        </span>
                                    </div>


                                  </article>
                            </a>
                            </li>
                            <li class="order_list_item">
                                <a href="#0" class="">
                                  <article class="order_product_card">
                                    <div class = "order_product_img-container">
                                        <img class = "order_product_img" src="https://www.yolabooks.ru/storage/photo/resized/xy_1732x1732/f/92k9yf9fjs0iom0_c3f69452.jpg" alt=""  />
                                        <div class="order_product_description_container">
                                          <div class="order_product_description">
                                              <h3 class="order_product_description_text">Книга2</h3>

                                          </div>

                                        </div>
                                    </div>

                                    <div class="quantity_product">
                                        <span>
                                            <bdi>
                                                2
                                            </bdi>
                                            <span>
                                                шт
                                            </span>
                                        </span>


                                    </div>
                                    <div class="order_of_product">
                                        <span>
                                            <bdi>
                                                550
                                            </bdi>
                                            <span>
                                                ₽
                                            </span>
                                        </span>
                                    </div>


                                  </article>
                            </a>
                            </li>
                        </ul>
                        <div class="sum_of_order">
                            <p>Сумма заказа :</p>
                            <span>
                                <bdi>
                                    1100
                                </bdi>
                                <span>
                                    ₽
                                </span>
                            </span>
                        </div>

                    </div>
                </li>
            </ul>

    </div>
</section>


{% endblock %}

