{% extends 'users/base.html' %}
{% load static %}

{% block css %}
      <link rel="stylesheet" href="/static/css/register.css" media="screen">
      <link rel="stylesheet" href="/static/css/page.css" media="screen">
{% endblock %}

{% block content %}
      <section class="u-align-center u-clearfix u-section-1 u-section-login">
          <div class="form-container">
              {% if form.errors %}
                <div class="alert" role="alert" style="margin-top: 50px;">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';"> &times; </span>
                        {{ form.errors | escape }}

                </div>
                {% endif %}
                <form class="form-users" action="{% url 'users:register' %}" method="post">
                    {% csrf_token%}
                    <label for="{{ form.username.id_for_label }}" class="visually-hidden">Логин</label>
                        {{ form.username }}
                    <label for="{{ form.email.id_for_label }}" class="visually-hidden">Почта</label>
                        {{ form.email }}
                    <label for="{{ form.first_name.id_for_label }}" class="visually-hidden">Имя</label>
                        {{ form.first_name }}
                    <label for="{{ form.last_name.id_for_label }}" class="visually-hidden">Фамилия</label>
                        {{ form.last_name }}
                    <label for="{{ form.phone_number.id_for_label }}" class="visually-hidden">Номер телефона</label>
                        {{ form.phone_number }}
                    <label for="{{ form.address.id_for_label }}" class="visually-hidden">Адрес</label>
                        {{ form.address }}
                    <label for="{{ form.password1.id_for_label }}" class="visually-hidden">Пароль</label>
                        {{ form.password1 }}
                    <label for="{{ form.password2.id_for_label }}" class="visually-hidden">Повторите пароль</label>
                        {{ form.password2 }}
                    <button class="login_button">Зарегистрироваться</button>
                </form>
          </div>
      </section>
{% endblock %}