{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="/static/css/zakaz.css" media="screen">
<link rel="stylesheet" href="/static/css/page.css" media="screen">
{% endblock %}
        <section>
            <div>
                <div class="personal_data_contact-information">
                    <div class="u-personal_data_contact-information">
                        <address class="contact-inf-container">
                            <ul class="address__list">
                                <li class="address__list-item">
                                    <label for="{{ form.first_name.id_for_label }}" class="address__list-item-text">Имя:
                                        {{ form.first_name }}</label>
                                </li>
                                <li class="address__list-item">
                                    <label for="{{ form.last_name.id_for_label }}" class="address__list-item-text">Фамилия:
                                        {{ form.last_name }}</label>
                                </li>
                                <li class="address__list-item">
                                    <label for="{{ form.email.id_for_label }}" class="address__list-item-text">Email: {{ form.email }}</label>
                                </li>
                                <li class="address__list-item">
                                    <label for="{{ form.phone_number.id_for_label }}" class="address__list-item-text">Телефон:
                                        {{ form.phone_number }}</label>
                                </li>
                                <li class="address__list-item">
                                    <label for="{{ form.address.id_for_label }}" class="address__list-item-text">Адрес:
                                        {{ form.address }}</label>
                                </li>
                            </ul>

                        </address>
                    </div>
            </div>
            <div></div>
            <div></div>
        </section>

{% block content %}
{% endblock %}